<app-header></app-header>

<app-sidebar></app-sidebar>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Dashboard
            <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Place hoder</li>
        </ol>
    </section>

    <section class="content">
        <router-outlet></router-outlet>
    </section>
    
</div>

<app-footer></app-footer>

<app-control-sidebar></app-control-sidebar>

<div class="control-sidebar-bg"></div>