<div class="row">
    <div class="col-md-12 action-row">
        <button class="btn btn-primary pull-right" (click)="addBook()">Add</button>
        <button class="btn btn-danger pull-right magin-right" (click)="deleteBooks()">Delete</button>
    </div>
</div>
<app-alert-message [notify]="responseNotify"></app-alert-message>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Search</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="searchParams.name">
                    </div>
                    <div class="col-xs-4">
                        <select class="form-control" [(ngModel)]="searchParams.categoryId">
                            <option value="">-- Select category --</option>
                            <option *ngFor="let item of categories" [value]="item.id">{{ item.name }}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-primary" (click)="searchBook()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
            <h3 class="box-title">Books list</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <div class="btn-group">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
                </div>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
            </div>
            <div class="box-body">
                <table class="table table-striped" *ngIf="bookList && bookList.items">
                    <thead>
                        <tr>
                            <th style="width: 5%;">#</th>
                            <th>
                                Name
                            </th>
                            <th style="width: 10%">
                                Author
                            </th>
                            <th style="width: 20%">
                                Category
                            </th>
                            <th style="width: 15%">
                                Published year
                            </th>
                            <th style="width: 15%">
                                Created On
                            </th>
                            <th style="width: 5%">
                                Active
                            </th>
                            <th style="width: 5%">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of bookList.items | paginate: { itemsPerPage: 10, currentPage: page, totalItems: bookList.count }">
                            <td>
                                <input class="checkbox" type="checkbox" name="chkItem" #chkUser [(ngModel)]="item.isChecked">
                            </td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.author?.fullName }}</td>
                            <td>{{ item.category?.name }}</td>
                            <td>{{ item.publishedYear }}</td>
                            <td>{{ item.createdOn | date: 'dd/MM/yyyy' }}</td>
                            <td>
                                <a href="#" *ngIf="item.isActive">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </td>
                            <td>
                                <a [routerLink]="['/admin/books/edit', item.id]"><i class="fa fa-fw fa-edit"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>