/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/admin-lte/dist/css/AdminLTE.min.css';
@import '../node_modules/admin-lte/dist/css/skins/skin-blue.min.css';

.action-row {
    margin-bottom: 10px;
}

.magin-right {
    margin-right: 10px;
}

.user-avartar {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.avatar-thumb {
    width: 120px;
    display: inline-block;
    margin-right: 15px;
}

.list-avatar {
    width: 100px;
    height: 100px;
}
