<div class="row">
    <div class="col-md-12 action-row">
        <button class="btn btn-primary pull-right" id="btnAddCountry" (click)="addCountry()">Add</button>
        <button class="btn btn-danger pull-right magin-right" id="btndDeleteCountry" (click)="deleteCountry()">Delete</button>
    </div>
</div>
<app-alert-message [notify]="responseNotify"></app-alert-message>
<div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Country list</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
            <table class="table table-striped" *ngIf="adminUserList && adminUserList.data">
                <thead>
                    <tr>
                        <th style="width: 5%;">#</th>
                        <th>
                            Name
                        </th>
                        <th style="width: 20%">
                            Code
                        </th>
                        <th style="width: 20%">
                            Sort
                        </th>
                        <th style="width: 20%">
                            Flag
                        </th>
                        <th style="width: 20%">
                            Active
                        </th>
                        <th style="width: 5%">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of countryList.data | paginate: { itemsPerPage: 5, currentPage: page, totalItems: countryList.count }">
                        <td>
                            <input class="checkbox" type="checkbox" name="chkItem" #chkUser [(ngModel)]="item.isChecked">
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.sort }}</td>
                        <td>
                            <img class="user-avatar" src="{{ item.flag }}" />
                        </td>
                        <td>
                            <a href="#" *ngIf="item.isActive">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/countries/edit', item.id]"><i class="fa fa-fw fa-edit"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
      </div>
    </div>
  </div>